################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fundamentals & Logic Building/LeapYearCheck/.vs/LeapYearCheck
