################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fundamentals & Logic Building/LeapYearCheck/.vs/LeapYearCheck
/Fundamentals & Logic Building/Calculator/.vs/Calculator
/Fundamentals & Logic Building/TableOfANumber/.vs/TableOfANumber
/Fundamentals & Logic Building/Factorial/.vs/Factorial
/Fundamentals & Logic Building/Factorial/.vs/ProjectEvaluation
/Fundamentals & Logic Building/Fibonacci/.vs/Fibonacci
/Fundamentals & Logic Building/Palindrome/.vs
/Fundamentals & Logic Building/ArmstrongNum/.vs/ArmstrongNum
/Fundamentals & Logic Building/SumOfDigits/.vs/SumOfDigits
/Fundamentals & Logic Building/ReveredString/.vs/ReveredString
/Fundamentals & Logic Building/CountTheVovels/.vs/CountTheVovels
/Fundamentals & Logic Building/CountTheVovels/.vs/ProjectEvaluation
